.header-darken {
    background: url(https://cdn.pixabay.com/photo/2019/07/14/16/29/pen-4337524_960_720.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
}

.header-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100%;
}


.header-box {
    width: 500px;
    padding: 40px;
    color: white;
    text-align: center;
}

.header-box-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}