.portofolio {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}

.portofolio-img {
    margin: 5px;
    height: 200px;
    width: 350px;
}

.portofolio-box {
    width: 400px;
    height: 100%;
    border: 2px solid black;
    padding: 20px;
    margin: 2% 5px;
    text-align: center;
}