.experience {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
}

.experience-img\\ {
    margin: 5px;
    height: 80px;
    width: 80px;
}

.experience-box {
    width: 400px;
    height: 100%;
    border: 2px solid black;
    padding: 20px;
    margin: 2% 5px;
    text-align: center;
}

